#book {
    h1 {
        a {
            font-size: 66%;
        }
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    nav.books, nav.pages, #pageContent {
        display: flex;
    }

    nav + nav {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    }

    form.books, form.pages, #pageContent {
        white-space: nowrap;
    }

    label {
        font-family: var(--sans-font);
        padding-right: 0.3rem;
    }

    section {
        padding-bottom: 0rem;
    }

    #pageContent {
        align-items: start;
        td {
            padding-right: 0.4rem;
        }
        .address a {
            text-decoration: none;
        }
        & > div {
            & > a img {
                width: 100%;
                height: 100%;
                max-height: 720px;
                min-height: 30px;
                min-width: 30px;
            }
        }
    }

    .nav-block
    {
        padding-right: 0.4rem;
        padding-left: 0.4rem;
    }

    .address
    {
        vertical-align: bottom;
        font-size:75%;
    }

    .source-atcode
    {
        font-family: var(--mono-font);
        font-size: 85%;
        color: var(--gray-text-color);
    }

    .source-correction
    {
        color: var(--gray-text-color);
    }
}
