#index {
    ul {
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        & li {
            padding-top: 0.05rem;
            padding-bottom: 0.05rem;
        }
    }
    .booksep
    {
        padding-left: 0.4rem;
        padding-right: 0.4em;
    }
}