#index {
    form {
        display: flex;
        flex-flow: row wrap;
        align-items: left;
        input {
            margin-left: 6px;
            margin-right: 3px;
        }
    }

    .booksep
    {
        padding-left: 0.4rem;
        padding-right: 0.4em;
    }
}