html {
    --bgcolor: #EEFFBB;
    background: var(--bgcolor);
    font-family: "Libertinus Serif", serif;
    font-size: 14pt;
}

body {
    margin: auto;
    width: 80%;
}

p {
    margin: 0;
    text-align: justify;

    & + p {
        margin-top: 1em;
    }
}

td {
    vertical-align: top;
}

section {
    background-color: #CCFF99;

    & > div, & > table, & > nav {
        padding: 0.8rem;
    }

    & h1 {
        font-size: 160%;
        background-color: #669933;
        margin: 0;
        color: var(--bgcolor);
        padding: 5px 10px;
    }
}

.address {
    font-family: "Libertinus Sans", sans-serif;
    font-stretch: condensed;
}

.extra-small
{
    font-size:smaller;
}