:root {
  --sans-font: "Libertinus Sans", sans-serif;
  --mono-font: 'Libertinus Mono', monospace;
  --bg-color: #EEFFBB;
  --text-bg-color: #CCFF99;
  --button-bg-color: #D1E0C1;
  --gray-text-color: #606060;
  --header-bg-green: #669933;
  --middark-green-text: #283D14;
  --darkest-green-text: #141E0A;
}

#banner {
    width: 600px;
    height: 75px;
}

html {
    background: var(--bg-color);
    font-family: "Libertinus Serif", serif;
    font-size: 14pt;
}

body {
    margin: auto;
    width: 80%;
}

p {
    margin: 0;
    text-align: justify;

    & + p {
        margin-top: 1em;
    }
}

td {
    vertical-align: top;
}

section {
    background-color: var(--text-bg-color);
    padding-bottom: 1rem;

    & > div, & > table, & > nav {
        padding: 0.8rem;
    }

    & h1 {
        font-size: 160%;
        font-family: var(--sans-font);
        background-color: var(--header-bg-green);
        margin: 0;
        color: var(--bg-color);
        padding: 5px 10px;
    }
}

main:not(#book, #symbols) section {
    margin-left: 7%;
    & h1 {
        margin: 0 0 0 -7%;
    }
}

a {
    color: var(--middark-green-text);
    &:visited {
        color: var(--darkest-green-text);
    }
}

button, input, select
{
    background-color: var(--button-bg-color);
    border-color: var(--darkest-green-text);
    border-width: 1px;
    padding: 3px;
}

strong
{
    font-family: var(--sans-font);
    color: var(--darkest-green-text);
}

footer
{
    color: var(--gray-text-color);
    text-align: center;
    font-size: 90%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.address {
    font-family: var(--sans-font);
    font-stretch: condensed;
}
