html {
    --bgcolor: #EEFFBB;
    background: var(--bgcolor);
    font-family: "Libertinus Serif", serif;
    font-size: 14pt;
}

body {
    margin: auto;
    width: 80%;
}

p {
    margin: 0;
    text-align: justify;

    & + p {
        margin-top: 1em;
    }
}

td {
    vertical-align: top;
}

section {
    background-color: #CCFF99;

    & > div, & > table, & > nav {
        padding: 0.8rem;
    }

    & h1 {
        font-size: 160%;
        font-family: "Libertinus Sans", sans-serif;
        background-color: #669933;
        margin: 0;
        color: var(--bgcolor);
        padding: 5px 10px;
    }
}

a {
  color: #283d14;
}

a:visited {
  color: #141e0a;
}


.address {
    font-family: "Libertinus Sans", sans-serif;
    font-stretch: condensed;
}

.extra-small
{
    font-size:75%;
}

footer
{
    color: #606060;
    text-align: center;
    font-size: 90%;
    padding-top: 1em;
    padding-bottom: 1em;
}

td.index-booksep
{
    padding-left: 0.5em;
    padding-right: 0.5em;
}

section.hanging-page
{
    margin-left: 7%;
    padding-bottom: 1em;
    & h1 {
        margin: 0 0 0 -7%;
    }
    & div ul {
        list-style-type: none;
        padding: 0;
    }
}

strong
{
    font-family: "Libertinus Sans", sans-serif;
    color: #141e0a;
}
