.symbol {
    font-size:larger;
}

.count {
    text-align:center;
}

.ucode {
    text-align:center;
    font-family: var(--mono-font);
    font-size: 90%;
}

.symbol-table .address {
    font-size:75%;
}



